#root {
  margin: 0 auto;
}

header {
  display: flex;
  isolation: isolate;

  .title {
    position: absolute;
    top: 5rem;
    left: 5.625rem;
    font-family: "Braah One";
    font-size: 10rem;
    font-weight: thin;
    color: #f72;
  }
}
